:root {
  --primary-color: #071D49; /* Default primary color */
  --secondary-color: black;
  --title-color: #f8f8f8;
}

body {
  font-family: "Ubuntu";
  font-size: 13px;
}

input {
  font-family: "Ubuntu";
  font-size: 13px;
  outline: none
}

textarea  
{  
   font-family:"Ubuntu";
   background-color: #fff;
   tab-size: 2;
   font-size: 13px;
   border: none;
   outline: none;
   resize: none;
   height: 100%;
   width: 98%
}

.sidebar {
  width: 60px;
  height: 100vh;
  background-color: var(--primary-color);
  position: fixed; 
  top: 0;
  left: 0;
  padding-top: 20px;
  color: #fff;
  transition: width 0.3s ease;
}

.sidebar.expanded {
  width: 180px;
}

.toggle-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: var(--secondary-color);
}

.buttondiv {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: gray;
  border-radius: 2px;
  border: 1px solid gray;
  height: 22px;
}

.buttondiv:hover {
  color: white;
  border: 1px solid white;
}