body {
  font-family: "Ubuntu";
  font-size: 13px;
}

input {
  font-family: "Ubuntu";
  font-size: 13px;
  outline: none;
}

textarea  
{  
   font-family:"Ubuntu";
   background-color: #FCFCFC;
   tab-size: 2;
   font-size: 13px;
   border: none;
   outline: none;
   resize: none;
   height: 500px;
   width: 98%
}